body{
    background-color:#f4f9f9;
}

hr{
    border: none;
    border-color: grey;
    width: 5%;
    border-top-style: dotted;
    border-width: 5px 
}
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}
#dp{
    border-radius: 100%;
}
img:hover{
    background-color: red;
    border-radius: 0%;
}